  <p class = "burgers">
    {{#if devoured}}
    <button class="eatButton" id="eatBurger" data-id="{{burger_id}}" data-eaten="{{devoured}}">
        Devour
    </button>
    {{/if}}
    {{burger_name}}
</p>